{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="dialog dialog-danger">
                <strong class="text-danger">{% trans %}Woops!{% endtrans %} </strong>
                {% for error in errors %}
                   <span>{{ error.message|trans }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block text_widget %}
    <div class="form-group">
        {% set type = type|default('text') %}
        <input type="{{ type }}" {% if value is not empty %}value="{{ value }}" {% endif %} {{ block('widget_attributes') }} placeholder="{{ label }}" class="form-control input-lg flat">
    </div>
{% endblock %}

{% block editor_widget %}
    <div class="form-group">
        {% set type = type|default('text') %}

        <div class="btn-toolbar" data-role="editor-toolbar" data-target="{{ id }}-editor">
            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="glyphicon glyphicon-text-height"></i>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-edit="fontSize 5"><font size="5">{% trans %}Huge{% endtrans %}</font></a></li>
                    <li><a data-edit="fontSize 3"><font size="3">{% trans %}Normal{% endtrans %}</font></a></li>
                    <li><a data-edit="fontSize 1"><font size="1">{% trans %}Small{% endtrans %}</font></a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="glyphicon glyphicon-bold"></i></a>
                <a class="btn btn-primary" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="glyphicon glyphicon-italic"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary" data-edit="insertunorderedlist" title="Bullet list"><i class="glyphicon glyphicon-list"></i></a>
                <a class="btn btn-primary" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="glyphicon glyphicon-indent-left"></i></a>
                <a class="btn btn-primary" data-edit="indent" title="Indent (Tab)"><i class="glyphicon glyphicon-indent-right"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="glyphicon glyphicon-align-left"></i></a>
                <a class="btn btn-primary" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="glyphicon glyphicon-align-center"></i></a>
                <a class="btn btn-primary" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="glyphicon glyphicon-align-right"></i></a>
                <a class="btn btn-primary" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="glyphicon glyphicon-align-justify"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="glyphicon glyphicon-link"></i></a>
                <div class="dropdown-menu bg-transparent width-default" >
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="URL" data-edit="createLink">
		              <span class="input-group-btn">
			            	<button type="button" class="btn btn-default"><span class="fui-plus"></span></button>
		            	</span>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle insertHTML" data-toggle="dropdown" title="insert HTML">HTML</a>
                <div class="dropdown-menu bg-transparent width-default" >
                    <div class="input-group">
                        <textarea class="form-control insertHTML-value" placeholder="HTML"></textarea>
		                <span class="input-group-btn">
			            	<button type="btn" class="btn btn-default insertHTML-insertBtn"><span class="fui-plus"></span></button>
		            	</span>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="glyphicon glyphicon-picture"></i></a>
                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
            </div>
        </div>

        <div id="{{ id }}-editor" contenteditable="true" class="admin-wysiwyg-editor">{% if value is not empty %}{{ value|raw }}{% endif %}</div>
        <textarea {{ block('widget_attributes') }} placeholder="{{ label }}" class="form-control thecodeine_admin_editor" rows="10">{% if value is not empty %}{{ value|raw }}{% endif %}</textarea>
    </div>
{% endblock %}

{% block choice_widget %}
    {% spaceless %}
        {% if attr.original_widget is defined %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control select select-primary">
                {% if empty_value is not none %}
                    <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% else %}
            <label class="checkbox" for="{{ id }}">
                <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span>
                <input type="checkbox" {{ block('widget_attributes') }}  {% if value is not empty %}value="{{ value }}" {% endif %} data-toggle="checkbox">
                {{ label }}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block checkbox_widget %}
    <label class="checkbox" for="{{ id }}">
        <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span>
        <input type="checkbox" {{ block('widget_attributes') }}  {% if value is not empty %}value="{{ value }}" {% endif %} {% if checked %} checked="checked"{% endif %} data-toggle="checkbox">
        {{ label }}
    </label>
{% endblock %}

{% block thecodeine_newsbundle_category_widget %}
    <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
{% endblock %}

{% block imagefile_widget %}
    {% spaceless %}
        {% set image =  form.parent.vars.value %}
        {% if image %}
            <p>
                <img src="{{  ('/uploads/' ~ image.path) | imagine_filter('admin_thumb') }}" />
            </p>
        {% endif %}
        <input type="file" {{ block('widget_attributes') }} />
    {% endspaceless %}
{% endblock %}

{% block _thecodeine_newsbundle_news_image_file_widget %}
    {% set image =  form.parent.vars.value %}
    <div class="form-group">
        {% if image %}
            <img src="{{  ('/uploads/' ~ image.path) | imagine_filter('admin_thumb') }}" />
        {% endif %}
        <div class="btn btn-mini btn-primary btn-block thecodeine_admin_main_image">
            <input type="file" {{ block('widget_attributes') }} />
            {% trans %}Wybierz zdjęcie główne{% endtrans %}
            <i class="fui-arrow-right pull-right"></i>
        </div>
    </div>
{% endblock %}

{% block _thecodeine_pagebundle_page_image_file_widget %}
    {{ block('_thecodeine_newsbundle_news_image_file_widget') }}
{% endblock %}

{% block tag_collection_widget %}
    <div class="form-group">
        <input type="text" {% if value is not empty %}value="{{ value }}" {% endif %} {{ block('widget_attributes') }} placeholder="{{ label }}" class="form-control input-sm flat tagsinput tagsinput-primary">
    </div>
{% endblock %}

{% block datetime_widget %}
    <div class="form-group small control-group">
        <div class="input-group">
          	  <span class="input-group-btn">
          	  	<button class="btn btn-default btn-sm" type="button" style="line-height: 16px;"><span class="fui-calendar"></span></button>
          	  </span>
            <input type="text" class="form-control datepicker input-sm" {{ block('widget_attributes') }}  value="{% if value is not empty %}{{ value }}{% else %}{{ "now"|date("Y-m-d H:i:s") }}{% endif %}">
        </div>
    </div>
{% endblock %}


{% block thecodeine_gallerybundle_gallery_widget %}
    <div class="form-group thecodeine_admin_gallery">
        <a href="javascript:void(0)"
           class="btn btn-hg btn-default add_new_image "
           data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
            <i class="fui-plus"></i>
        </a>
        <ul class="gallery-images">
            {% for image in form.images %}
                {{ form_widget(image) }}
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block thecodeine_gallerybundle_galleryimage_widget %}
    {% spaceless %}
        {% set galleryImage =  form.vars.value %}
        <li class="thumbnail {% if(galleryImage is null) %}empty{% endif %}">
            {{ form_widget(form.position, {'attr': {'class': 'position'} }) }}
            <a href="javascript:void(0)" class="delete"><i class="fui-cross-inverted"></i></a>
            {% if(galleryImage is not null) %}
                {% if(galleryImage.image is not null) %}
                    <img class="gallery-image" src="{{  ('/uploads/' ~ galleryImage.image.path) | imagine_filter('admin_thumb') }}" />
                {% endif %}
            {% else %}
                {{ form_widget(form.image) }}
                <span class="fui-plus"></span>
            {% endif %}
            <div class="image-name">
                {{ form_widget(form.translations.defaultLocale.pl.name, {'attr': {'placeholder': 'opis (PL)', 'class': 'form-control input-sm'} }) }}
                {{ form_widget(form.translations.translations.en.name, {'attr': {'placeholder': 'opis (EN)', 'class': 'form-control input-sm'} }) }}
            </div>
        </li>
    {% endspaceless %}
{% endblock %}

{% block attachments_widget %}
    <div class="form-group thecodeine_admin_attachments">
        <a href="javascript:void(0)"
           class="btn btn-hg btn-default add_new_attachment "
           data-prototype="{{ form_widget(form.vars.prototype)|e }}">
            <i class="fui-plus"></i>
        </a>
        <ul class="attachments">
            {% for attachment in form %}
                {{ form_widget(attachment) }}
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block _thecodeine_pagebundle_page_attachments_widget %}
    {{ block('attachments_widget') }}
{% endblock %}

{% block _thecodeine_newsbundle_news_attachments_widget %}
    {{ block('attachments_widget') }}
{% endblock %}

{% block thecodeine_newsbundle_attachment_widget %}
    {% spaceless %}
        {% set attachment =  form.vars.value %}
        <li class="item {% if(attachment is null) %}empty{% endif %}">
            {{ form_widget(form.position, {'attr': {'class': 'position'} }) }}

            {{ form_widget(form.translations.defaultLocale.pl.title, {'attr': {'required': 'required' } }) }}
            {{ form_widget(form.translations.translations.en.title, {'attr': {'placeholder': 'Tytuł angielski' } }) }}
            <a href="javascript:void(0)" class="delete"><i class="fui-cross-inverted"></i></a>
            <div class="options-container">

                <div class="upload-container">
                    <a href="javascript:void(0)" class="btn btn-default">
                        <span class="fui-upload"></span> {{ form_widget(form.file) }}
                    </a>
                </div>
                <div class="clear inline-block"></div>
                {% if(attachment is not null) %}
                    <a href="{{ vich_uploader_asset(attachment,'file') }}" class="btn btn-default" target="_blank"><span class="fui-eye"></span></a>
                    <div class="clear inline-block"></div>
                {% endif %}
            </div>
        </li>
    {% endspaceless %}
{% endblock %}
