{% trans_default_domain 'tuna_admin' %}

<li id="menu_{{ item.id }}" class="{% if item.lvl == 0 %} root{% endif %}{% if not item.published %} unpublished{% endif %}" data-id="{{ item.id }}">
    {% if item.lvl == 0 %}
        <div class="title">
            <span class="item-options">
                <a href="{{ path('tuna_page_create', { redirect: 'dashboard', menuParentId: item.id }) }}">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
            {{ item.label }}
        </div>
    {% else %}
        <div>
            {{ item.label }}
            <span class="item-options">
                <a href="{{ path('tuna_page_create', { redirect: 'dashboard', menuParentId: item.id }) }}">
                    <i class="fa fa-plus"></i>
                </a>
                {% if item.page %}
                    <a href="{{ path('tuna_page_edit', { id: item.page.id, redirect: 'dashboard' }) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                {% endif %}
                {% if item.clickable %}
                    <a href="{{ tuna_menu_getLink(item) }}" target="_blank">
                        <i class="fa fa-external-link"></i>
                    </a>
                {% endif %}
                <a data-url="{{ path('tuna_menu_delete', { id: item.id, redirect: 'dashboard' }) }}" data-title="pozycję menu {{ item.label }}" data-target="#modal-confirm" data-action="delete">
                    <i class="fa fa-trash"></i>
                </a>
            </span>
        </div>
    {% endif %}
    {% if item.children|length %}
        <ul>
            {% for child in item.children %}
                {% include 'TheCodeineAdminBundle:Dashboard:menu_item.html.twig' with { item: child } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
