{% trans_default_domain 'tuna_admin' %}

{% macro tuna_image_preview(fileUrl, deletable, imageFilter = 'tuna_admin_thumb') %}{% spaceless %}
    {% if imageFilter is same as(true) %}
        {# TODO: BC for `scalePreviewThumbnail` replaced by `imageFilter` #}
        {% set imageFilter = 'tuna_admin_thumb' %}
    {% endif %}
    {% if fileUrl %}
        {% if imageFilter %}
            {% set fileUrl = fileUrl|imagine_filter(imageFilter) %}
        {% endif %}
        <img src="{{ fileUrl }}"/>
        {% if deletable %}
            <span data-action="remove" class="remove">{{ 'common.remove'|trans }}</span>
        {% endif %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro tuna_file_preview(fileUrl, filename = '', deletable = false) %}{% spaceless %}
    {% if fileUrl is not null %}
        <a href="{{ asset(fileUrl) }}" class="btn btn-secondary tuna-file__file-preview{{ deletable ? ' tuna-file__file-preview--deletable' }}" target="_blank">
            {% if filename %}
                <span class="tuna-file__filename">{{ filename }}</span>
            {% else %}
                <span class="fa fa-eye"></span>
            {% endif %}
        </a>

        {% if deletable %}
            <a class="btn btn-danger tuna-file__remove" data-action="remove">
                {{ 'common.remove'|trans }}
            </a>
        {% endif %}
    {% endif %}
{% endspaceless %}{% endmacro %}
