{% extends "TheCodeineAdminBundle::layout.html.twig" %}

{% block content_title %}
    <h3 class="text-center">{{ category.name }}</h3>
{% endblock content_title %}

{% block content %}
    <a href="{{ path('thecodeine_page_edit',{'cid' : category.id}) }}" class="add_button btn btn-hg btn-primary mlm">
        <i class="fui-plus-inverted"></i>
    </a>
    <div class="container">
    {#{{ render(controller('AcmeArticleBundle:Article:recentArticles', {#}
        {#'cid': 3#}
    {#})) }}#}
    {% if pages is defined and pages|length > 0 %}
        <ul class="list-group admin-pages admin-list">
            {% for page in pages %}
                <li class="list-group-item" data-enabled="{{ page.published|round }}">
                    {#<span onclick="location.href='{{ path('thecodeine_page_edit',{'id' : page.id}) }}'">{{ page.title }}</span>#}
                    <a href="{{ path('thecodeine_page_edit',{'id' : page.id}) }}"
                       class="">
                        {{ page.title }}
                    </a>
                    <a href="#"
                       data-title="{{ page.title }}"
                       data-url="{{ path('thecodeine_admin_page_delete',{'id' : page.id})}}"
                       data-target="#modal-confirm" data-action="delete"
                       class="fui-cross-inverted pull-right">
                    </a>
                    <a href="{{path('thecodeine_page_edit',{'id' : page.id})}}"
                       class="fui-new pull-right">
                    </a>
                </li>
            {% endfor %}
        </ul>
        {#<div class="row text-center">#}
            {#<div class="col-md-2"></div>#}
            {#<div class="col-md-8">#}
                {#{% for page in pages %}#}
                    {#<a href="{{ path('thecodeine_page_edit',{'id' : page.id}) }}" class="btn btn-lg btn-primary btn-square">{{ page.title }}</a>#}
                {#{% endfor %}#}
            {#</div>#}
            {#<div class="col-md-2"></div>#}
        {#</div>#}
    {% endif %}
    </div>
{% endblock content %}