{% extends "TheCodeineAdminBundle::_layout.html.twig" %}
{% block main_class %}bg-lightgray{% endblock %}

{% block content %}
    {% if pagination|length == 0 %}
        <div class="admin-alert alert text-center">
            <h3>{% trans %}Oops there is nothing here!{% endtrans %}</h3>
            <a href="{{ path('thecodeine_page_create') }}" class="btn btn-primary btn-wide">
                <i class="fui-plus-inverted"></i> {% trans %}Add first page item{% endtrans %}
            </a>
        </div>
    {% else %}
        <div class="row admin-container">
            <div class="col-sm-12">
                <div class="admin-list">

                    {% include 'TheCodeineAdminBundle::_partials/_menu.sub.html.twig' %}

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Lp</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'p.title') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Slug'|trans, 'p.slug') }}</th>
                                <th class="center">{{ knp_pagination_sortable(pagination, 'Published'|trans, 'p.published') }}</th>
                                <th class="text-right">{% trans %}Options{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in pagination %}
                                <tr data-enabled="{{ item.published|round }}" class="{% if not item.published %}unpublished{% endif %}">
                                    <td>{{ loop.index + lp}}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.slug }}</td>
                                    <td class="center">
                                        {% if item.published %}
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                    <td class="options">
                                        <a href="{{path('thecodeine_page_edit',{'id' : item.id})}}" class="fa fa-pencil-square-o" aria-hidden="true"></a>
                                        <a href="#" data-title="{{ item.title }}" data-url="{{ path('thecodeine_page_delete',{'id' : item.id})}}" data-target="#modal-confirm" data-action="delete" class="fa fa-trash" aria-hidden="true"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(pagination, 'TheCodeineAdminBundle::_partials/_pagination.html.twig') }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="clear"></div>
{% endblock content %}
