{% trans_default_domain 'tuna_admin' %}

{% embed 'TheCodeineAdminBundle:_base:list.html.twig' with {isEmpty: groupedCategories|length == 0, canCreate: true, createPath: path('tuna_category_create')} %}
    {% trans_default_domain 'tuna_admin' %}

    {% block list_table %}
        {% for categoryType, categories in groupedCategories %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Slug'|trans }}</th>
                    <th class="text-right">{{ 'Options'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in categories %}
                        <tr data-id="{{ item.id }}">
                            <td>
                                <a href="{{ path('tuna_category_edit', { id: item.id}) }}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.slug }}</td>
                            <td class="options">
                                <a href="{{ path('tuna_category_edit', { id: item.id}) }}" class="fa fa-pencil-square-o" aria-hidden="true"></a>
                                <a href="#" data-title="{{ item.name }}" data-url="{{ path('tuna_category_delete', { id: item.id }) }}" data-target="#modal-confirm" data-action="delete" class="fa fa-trash" aria-hidden="true"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endblock %}
{% endembed %}