{% extends app.request.isXmlHttpRequest ? 'TheCodeineAdminBundle::_embed.html.twig' : "TheCodeineAdminBundle::_layout.html.twig" %}

{% block content %}
    <div class="admin-container">
        <div class="translation-container">
            <aside class="aside aside-2">
                <div class="admin-option-container">
                    <form id="config" action="{{ path("jms_translation_index") }}" method="get">
                        <h6 class="text-inverse">{% trans %}Select file{% endtrans %}</h6>
                        <select name="domain" class="span3 form-control select select-default select-block mbl">
                            {% for domain in domains %}
                                <option value="{{ domain }}"{% if domain == selectedDomain %} selected="selected"{% endif %}>{{ domain }}</option>
                            {% endfor %}
                        </select>

                        <h6 class="text-inverse">{% trans %}Select language{% endtrans %}</h6>
                        <select name="locale" class="span2 form-control select select-default select-block mbl">
                            {% for locale in locales %}
                                <option value="{{ locale }}"{% if locale == selectedLocale %} selected="selected"{% endif %}>{{ locale }}</option>
                            {% endfor %}
                        </select>
                        <button class="refresh-translations btn btn-small btn-primary btn-block">{% trans %}Refesh{% endtrans %} <span data-toggle="tooltip" data-placement="top" title="{% trans %}To show new translations, you have to refresh them by clicking this button.{% endtrans %}">[?]</span></button>
                    </form>
                </div>
            </aside>
            <div class="inside">
                <div class="body">
                    {% if isWriteable is sameas(false) %}
                        <div class="alert-message error">
                            {% trans %}The translation file is not writable.{% endtrans %}
                        </div>
                    {% endif %}

                    <h2>{% trans %}Translations{% endtrans %}</h2>

                    {% if newMessages is not empty %}
                        {% include "TheCodeineTranslationBundle:Translate:messages.html.twig" with {"messages": newMessages} %}
                    {% endif %}

                    {% if existingMessages is not empty %}
                        {% include "TheCodeineTranslationBundle:Translate:messages.html.twig" with {"messages": existingMessages} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% javascripts
        '@JMSTranslationBundle/Resources/public/js/jms.js'
        '@JMSTranslationBundle/Resources/public/js/trunk8.js'
        '@TheCodeineAdminBundle/Resources/public/js/vendor/jms.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script language="javascript" type="text/javascript">
        var updateMessagePath = {{ path("jms_translation_update_message", {"config": selectedConfig, "domain": selectedDomain, "locale": selectedLocale})|json_encode|raw }};
        var isWritable = {{ isWriteable is sameas(true) ? 'true' : 'false' }};

        var JMS = new JMSTranslationManager(updateMessagePath, isWritable);

        $('[data-toggle="tooltip"]').tooltip();

        JMS.ready();
    </script>
{% endblock %}