<table class="translation-table">
    <thead>
    <tr>
        <th width="50%">{% trans %}Translation{% endtrans %}</th>
        <th width="50%">{% trans %}Additional Information{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, message in messages %}
        <tr>
            <td>
                <h6 class="translation-key">{{ id | cut(50) }}</h6>
                <textarea data-id="{{ id }}" class="span6 form-control"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea>
                <a class="jms-translation-anchor" id="{{ id }}" />
            </td>
            <td>
                {% if message.meaning is not empty %}
                    <h6>{% trans %}Meaning{% endtrans %}</h6>
                    <p>{{ message.meaning }}</p>
                {% endif %}

                {% if alternativeMessages[id] is defined %}
                    <h6>{% trans %}Alternative Translations{% endtrans %}</h6>
                    {% for locale, altMessage in alternativeMessages[id] %}
                        <p>
                            <strong>{{ locale }}:</strong>
                        <div class="preview">{{ altMessage.localeString }}</div>
                        </p>
                    {% endfor %}
                {% endif %}

                {% if message.sources|length > 0 %}
                    <h6>{% trans %}Sources{% endtrans %}</h6>
                    <ul>
                        {% for source in message.sources %}
                            <li title="{{ source }}" class="jms-sources-list-item truncate-left">{{ source }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if message.desc is not empty
                and message.localeString != message.desc
                and id != message.desc
                and (alternativeMessages[id][sourceLanguage] is not defined
                or alternativeMessages[id][sourceLanguage].localeString != message.desc) %}
                    <h6>{% trans %}Description{% endtrans %}</h6>
                    <p>{{ message.desc }}</p>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">{% trans %}No messages found{% endtrans %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
