{% trans_default_domain 'tuna_admin' %}
{% extends "TheCodeineAdminBundle::_base_layout.html.twig" %}
{% block body_class %}login-page{% endblock %}

{% block mainContainer %}
    <div class="content">
        <div class="col-md-4 col-md-offset-4">
            <div class="login">
                <h3 class="text-center">{{ "scheb_two_factor.header"|trans }}</h3>

                {% for flashMessage in app.session.flashbag.get("two_factor") %}
                    <div class="dialog dialog-inverse">
                        <strong class="text-danger">{{ "Woops!"|trans }}</strong> {{ flashMessage|trans }}
                    </div>
                {% endfor %}

                {% block qrCodeContainer %}{% endblock %}

                <div class="login-form">
                    <form class="form" action="" method="post">
                        {% for flashMessage in app.session.flashbag.get("two_factor") %}
                            <p class="error">{{ flashMessage|trans }}</p>
                        {% endfor %}

                        <div class="form-group">
                            <input id="_auth_code" type="text" class="form-control login-field" autocomplete="off" name="_auth_code" placeholder="{{ "scheb_two_factor.auth_code"|trans }}" />
                            <label class="login-field-icon fui-lock" for="_auth_code"></label>
                        </div>

                        {% if useTrustedOption %}
                            <label class="checkbox" for="_trusted">
                                <input type="checkbox" id="remember_me" name="_remember_me" data-toggle="checkbox" />
                                {{ "scheb_two_factor.trusted"|trans }}
                            </label>
                        {% endif %}

                        <input type="submit" id="_submit" name="_submit" value="{{ "scheb_two_factor.verify"|trans }}" class="btn btn-primary btn-lg btn-block"/>

                        {# The logout link gives the user a way out if they can't complete the second step #}
                        <a href="{{ path("fos_user_security_logout") }}" data-action="save-order" class="btn btn-default btn-lg btn-block">
                            {{ "scheb_two_factor.cancel"|trans }}
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
