{% block tuna_attachments_widget %}
    <div
        class="form-group thecodeine_admin_attachments"
        data-dropzone-options='{"clickable": ".add_new_attachment", "previewsContainer": ".attachments", "acceptedFiles": "", "selector": ".admin-attachments-container", "dropoverText": "{% trans %}Drop your gallery images here{% endtrans %}"}'
    >
        <a href="javascript:void(0)" class="btn btn-border add_new_attachment" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <ul class="attachments clearfix">
            {% for attachment in form %}
                {{ form_row(attachment, {label: false}) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block tuna_attachment_widget %}
    {% spaceless %}
        <li class="item ui-state-default">
            <div class="gallery-table">
                <div class="table-row">
                    {{ form_widget(form.position, {'attr': {'class': 'position'} }) }}

                    <div class="item-name">
                        {{ form_widget(form.translations, {'label': false}) }}
                    </div>

                    <div class="options-container">
                        {{ form_widget(form.file) }}
                        {% set attachment = form.vars.value %}
                        <a href="{% if(attachment is not null) %}{{ ('/uploads/files/' ~ attachment.file.path) }}{% endif %}" class="btn btn-secondary" target="_blank">
                            <span class="fui-eye"></span>
                        </a>
                    </div>

                    <div class="option handle">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>

                    <div class="option delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                </div>
                {% if not form.vars.valid %}
                    <div class="table-row">
                        {{ form_errors(form) }}
                        {{ form_errors(form.file) }}
                    </div>
                {% endif %}
            </div>
        </li>
    {% endspaceless %}
{% endblock %}
