{% block imagefile_widget %}
    {% spaceless %}
        {% set image =  form.parent.vars.value %}
        {% if image %}
            <p>
                <img src="{{ ('/uploads/' ~ image.path) | imagine_filter('tuna_admin_thumb') }}"/>
            </p>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block main_image_widget %}
    {% set attr = attr | merge({class: (attr.class is defined ? attr.class ~ ' ') ~ 'thecodeine_admin_main_image'}) %}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{% endblock %}

{% block main_imagefile_widget %}
    {% spaceless %}
        {% set image = form.parent.vars.value %}
        <div
            class="form-group main-image"
            data-dropzone-options='{"selector": ".admin-option-container", "maxFiles": 1, "previewsContainer": ".main-image .image", "dropoverText": "{% trans %}Drop your cover image here{% endtrans %}"}'
        >
            <div class="image" data-action="remove">
                {% if image and image.path %}
                    <img src="{{ ('/uploads/' ~ image.path) | imagine_filter('tuna_admin_thumb') }}"/>
                    <span class="remove">{% trans %}Usuń{% endtrans %}</span>
                {% endif %}
            </div>
            <div class="btn btn-mini btn-primary btn-block input-wrapper" data-dropzone-clickable>
                {% trans %}Choose main picture{% endtrans %}
                <i class="fui-arrow-right pull-right"></i>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
