{% block tuna_image_preview %}{% spaceless %}
    {% if file_url is not null %}
       <div>
           <img src="{{ file_url | imagine_filter('tuna_admin_thumb') }}"/>
           {% if form.vars.attr.deletable %}
               <span data-action="remove" class="remove">{% trans %}remove{% endtrans %}</span>
           {% endif %}
       </div>
    {% endif %}
{% endspaceless %}{% endblock %}

{% block tuna_image_widget %}
    {% set wrapperId = form.vars.id ~ '_wrapper' %}
    {% set file_url = '/uploads/tmp/__path__' %}
    {% set dropzoneOptions = {
    clickable: '.admin-option-container .btn-main-image',
    selector: '.admin-option-container',
    previewTemplate: block('tuna_image_preview'),
    previewsContainer: '#' ~ wrapperId ~ ' .preview'
    } %}
    <div id="{{ wrapperId }}" class="thecodeine_admin_main_image" data-dropzone-options="{{ dropzoneOptions | json_encode }}">
        {% set image = form.vars.data %}

        <div class="preview">
            {% if image and image.path and form.vars.valid %}
                {% set file_url = (image.uploaded ? '/uploads/tmp/' : '/uploads/files/') ~ image.path %}
                {{ block('tuna_image_preview') | raw }}
            {% endif %}
        </div>
        {{ form_widget(form) }}
    </div>
{% endblock %}