{% block tuna_image_preview %}{% spaceless %}
    <div class="preview">
        {% if file_url is not null %}
            <img src="{{ file_url | imagine_filter('tuna_admin_thumb') }}"/>
        {% endif %}
    </div>
{% endspaceless %}{% endblock %}

{% block tuna_image_row %}
    {% set wrapperId = form.vars.id ~ '_wrapper' %}
    {% set file_url = '/uploads/tmp/__path__' %}
    {% set dropzoneOptions = {
    selector: '#' ~ wrapperId,
    previewTemplate: block('tuna_image_preview'),
    previewSelector: '#' ~ wrapperId ~ ' .preview'
    } %}
    <div id="{{ wrapperId }}" class="thecodeine_admin_main_image" data-dropzone-options="{{ dropzoneOptions | json_encode }}">
        {% set image = form.vars.data %}
        {% if image %}
            {% set file_url = (image.uploaded and form.vars.valid ? '/uploads/tmp/' : '/uploads/files/') ~ image.path %}
            {{ block('tuna_image_preview') | raw }}
        {% endif %}
        {{ form_row(form) }}
    </div>
{% endblock %}