{% trans_default_domain 'tuna_admin' %}

{% if menu_type is not defined or not menu_type %}
    {% set menu_type = resolve_menu_type(item) %}
{% endif %}
<li id="menu_{{ item.id }}" class="{{ item.lvl == 0 ? ' root' }}{{ not item.published ? ' unpublished' }}" data-id="{{ item.id }}">
    {% if item.lvl == 0 %}
        {% block root_item %}
            <div class="title">
                {% block root_item_options %}
                    <span class="item-options">
                        <a href="{{ path(path_create|default('tunacms_admin_menu_create', {type: menu_type}), { parentId: item.id }) }}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </span>
                {% endblock %}
                {% block root_item_create_link %}
                    <a href="{{ path('tunacms_admin_menu_edit', { id: item.id }) }}">
                        {% block root_item_create_link_label %}
                            {{ item.name }}
                        {% endblock %}
                    </a>
                {% endblock %}
            </div>
        {% endblock %}
    {% else %}
        {% block item %}
            <div>
                {% block item_edit_link %}
                    <a href="{{ path(path_create|default('tunacms_admin_menu_edit'), { id: item.id }) }}">
                        {% block item_edit_link_label %}
                            {{ item.label }} [{{ item.slug }}]
                        {% endblock %}
                    </a>
                {% endblock %}
                {% block item_options %}
                    <span class="item-options">
                        {% block item_options_create_link %}
                            <a href="{{ path(path_create|default('tunacms_admin_menu_create'), { type: menu_type, parentId: item.id }) }}">
                                <i class="fa fa-plus"></i>
                            </a>
                        {% endblock %}
                        {% block item_options_delete_link %}
                            <a data-url="{{ path(path_create|default('tunacms_admin_menu_delete'), { id: item.id }) }}" data-title="pozycję menu {{ item.label }}" data-target="#modal-confirm" data-action="delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        {% endblock %}
                    </span>
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
    {% block children %}
        {% if item.children|length %}
            <ul>
                {% for child in item.children %}
                    {% include '@TunaCMSAdmin/menu/menu_item.html.twig' with { item: child } %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}
</li>
