<li id="menu_{{ item.id }}" {% if item.lvl == 0 %}class="root"{% endif %} data-root-id="{{ item.id }}">
    {% if item.lvl == 0 %}
        <div class="title">{{ item.label }}</div>
    {% else %}
        <div>
            <a href="{{ path('tuna_menu_edit', { id: item.id }) }}">{{ item.label }}</a>
            <span class="item-options">
                <a href="{{ path('tuna_menu_create', { parentId: item.id }) }}">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="{{ path('tuna_menu_edit', { id: item.id }) }}">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="{{ tuna_menu_getLink(item) }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
                <a href="{{ path('tuna_menu_delete', { id: item.id }) }}">
                    <i class="fa fa-trash"></i>
                </a>
            </span>
        </div>
    {% endif %}
    {% if item.__children | length %}
        <ul>
            {% for child in item.__children %}
                {% include('TheCodeineAdminBundle:Menu:menu_item.html.twig') with { item: child } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
