<div class="navbar">
    <div class="navbar-top-select">
        <select name="large" class="btn-group select select-block mbl" style="display: none;">
            {% for item in knp_menu_get('menu.top') %}
                <option value="{{ item.uri }}" data-url="{{ item.uri }}" {{ item.attributes.selected }}>{{ item.label }}</option>
            {% endfor %}
        </select>
    </div>

    {{ knp_menu_render('menu.top.static') }}

    <div class="navbar-top-select navbar-top-right-select">
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="fui-gear"></span>
            </button>
            <span class="dropdown-arrow"></span>
            <ul class="dropdown-menu  pull-right" role="menu"></ul>
        </div>
    </div>
</div>