<div class="a2lix_translations tabbable">
    <ul class="a2lix_translationsLocales nav nav-tabs">
        <li class="active">
            <a href="javascript:void(0)" data-toggle="tab" data-target=".locale-pl">pl</a>
        </li>
        <li>
            <a href="javascript:void(0)" data-toggle="tab" data-target=".locale-en">en</a>
        </li>
    </ul>
    <div class="a2lix_translationsFields tab-content">
        <div class="locale-pl tab-pane active">
            {% if form.translations.defaultLocale.pl.title is defined %}
                {{ form_widget(form.translations.defaultLocale.pl.title, {'label': 'Tytuł polski'|trans}) }}
            {% endif %}

            {% if form.translations.defaultLocale.pl.subTitle is defined %}
                {{ form_widget(form.translations.defaultLocale.pl.subTitle, {'label': 'Podtytuł polski'|trans}) }}
            {% endif %}

            {% if form.translations.defaultLocale.pl.body is defined %}
                {{ form_widget(form.translations.defaultLocale.pl.body, {'label': 'Treść polska'|trans}) }}
            {% endif %}
        </div>
        <div class="locale-en tab-pane ">
            {% if form.translations.translations.en.title is defined %}
                {{ form_widget(form.translations.translations.en.title, {'label': 'Tytuł angielski'|trans}) }}
            {% endif %}

            {% if form.translations.translations.en.subTitle is defined %}
                {{ form_widget(form.translations.translations.en.subTitle, {'label': 'Podtytuł angielski'|trans}) }}
            {% endif %}

            {% if form.translations.translations.en.body is defined %}
                {{ form_widget(form.translations.translations.en.body, {'label': 'Treść angielska'|trans}) }}
            {% endif %}
        </div>
    </div>
</div>