{% extends "TheCodeineAdminBundle::_layout.html.twig" %}
{% form_theme form 'TheCodeineAdminBundle::_partials/_form/_theme.html.twig' %}

{% block content %}
    <div class="admin-container container">
        {{ form_errors(form) }}

        {{ form_start(form, { 'attr' : { 'class' : 'wysiwyg' } }) }}
            {{ form_widget(form._token) }}
            {{ form_widget(form.category) }}

            {% include 'TheCodeineAdminBundle::_partials/_form/_content.html.twig' %}
            {% include 'TheCodeineAdminBundle::_partials/_form/_options.html.twig' %}
            {% include 'TheCodeineAdminBundle::_partials/_form/_footer.html.twig' %}

        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock content %}