{% trans_default_domain 'tuna_admin' %}

<div class="admin-option-container">
    {% if form.createdAt is defined %}
        {{ form_row(form.createdAt, { label: 'Create date' }) }}
    {% endif %}

    {% if form.image is defined %}
        {{ form_row(form.image, { label: false }) }}
    {% endif %}

    {{ extraFields|raw }}

    {% if form.gallery is defined %}
        <a href="javascript:void(0)" class="btn btn-small btn-secondary btn-block btn-gallery">
            {% if not form.gallery.vars.valid %}
                <i class="fui-alert-circle text-danger pull-left"></i>
            {% endif %}
            {% trans %}Gallery{% endtrans %}
            <i class="fui-arrow-right pull-right"></i>
        </a>
    {% endif %}

    {% if form.attachments is defined %}
        <a href="javascript:void(0)" class="btn btn-small btn-secondary btn-block btn-attachments">
            {% if not form.attachments.vars.valid %}
                <i class="fui-alert-circle text-danger pull-left"></i>
            {% endif %}
            {% trans %}Attachments{% endtrans %}
            <i class="fui-arrow-right pull-right"></i>
        </a>
    {% endif %}

    {% if form.category is defined %}
        <h6 class="text-inverse">{% trans %}Category{% endtrans %}</h6>
        {{ form_widget(form.category) }}
    {% endif %}

    {% if form.tags is defined %}
        <h6 class="text-inverse">{% trans %}Tags{% endtrans %}</h6>
        {{ form_widget(form.tags) }}
    {% endif %}

    {% if form.startDate is defined %}
        {{ form_row(form.startDate, { label: 'Start date' }) }}
    {% endif %}

    {% if form.endDate is defined %}
        {{ form_row(form.endDate, { label: 'End date' }) }}
    {% endif %}

    {{ form_widget(form.save, { attr: { class: 'btn btn-small btn-primary btn-block' }}) }}
</div>

{% if form.attachments is defined %}
    <div class="admin-attachments-container admin-attachments-container--overlay">
        <a href="javascript:void(0)" class="btn btn-secondary close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>

        {% include 'TheCodeineAdminBundle::_partials/_form/_translations.menu.html.twig' %}

        <h3>{% trans %}Attachments{% endtrans %}</h3>
        {{ form_widget(form.attachments) }}
    </div>
{% endif %}

{% if form.gallery is defined %}
    <div class="admin-gallery-container admin-gallery-container--overlay">
        <a href="javascript:void(0)" class="btn btn-secondary close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>

        {% include 'TheCodeineAdminBundle::_partials/_form/_translations.menu.html.twig' %}

        <h3>{% trans %}Gallery{% endtrans %}</h3>
        {{ form_widget(form.gallery) }}
    </div>
{% endif %}
