<div class="admin-option-container">
    <h6 class="text-inverse">{% trans %}Options{% endtrans %}</h6>

    {% if form.important is defined %}
        {{ form_widget(form.important, {'label': 'Featured'|trans}) }}
    {% endif %}

    {% if form.published is defined %}
        {{ form_widget(form.published, {'label': 'Published'|trans}) }}
    {% endif %}

    {% if form.createdAt is defined %}
        {{ form_row(form.createdAt, {'label': 'Create date'|trans}) }}
    {% endif %}

    {% if form.image is defined %}
        {{ form_widget(form.image) }}
    {% endif %}

    {{ extraFields | raw }}

    {% if form.gallery is defined %}
    <a href="javascript:void(0)" class="btn btn-small btn-secondary btn-block btn-gallery">
        {% trans %}Gallery{% endtrans %}
        <i class="fui-arrow-right pull-right"></i>
    </a>
    {% endif %}

    {% if form.attachments is defined %}
    <a href="javascript:void(0)" class="btn btn-small btn-secondary btn-block btn-attachments">
        {% trans %}Attachments{% endtrans %}
        <i class="fui-arrow-right pull-right"></i>
    </a>
    {% endif %}

    {% if form.tags is defined %}
        <h6 class="text-inverse">{% trans %}Tags{% endtrans %}</h6>
        {{ form_widget(form.tags) }}
    {% endif %}

    {% if form.startDate is defined %}
        {{ form_row(form.startDate, { label: 'Start date' }) }}
    {% endif %}

    {% if form.endDate is defined %}
        {{ form_row(form.endDate, { label: 'End date' }) }}
    {% endif %}

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-small btn-primary btn-block'}}) }}

</div>

<div class="admin-attachments-container">
    <a href="javascript:void(0)" class="btn btn-secondary close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>

    {% include 'TheCodeineAdminBundle::_partials/_form/_translations.menu.html.twig' %}

    {% if form.attachments is defined %}
        <h3>{% trans %}Attachments{% endtrans %}</h3>
        {{ form_widget(form.attachments) }}
    {% endif %}
</div>

<div class="admin-gallery-container">
    <a href="javascript:void(0)" class="btn btn-secondary close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>

    {% include 'TheCodeineAdminBundle::_partials/_form/_translations.menu.html.twig' %}

    {% if form.attachments is defined %}
        <h3>{% trans %}Gallery{% endtrans %}</h3>
        {{ form_widget(form.gallery) }}
    {% endif %}
</div>
