{% trans_default_domain 'tuna_admin' %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:attachments.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:checkbox.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:choice.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:date.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:editor.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:errors.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:gallery.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:image.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:tags.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:translations.html.twig" %}

{% macro tuna_image_preview(fileUrl, deletable, scalePreviewThumbnail = true) %}{% spaceless %}
    {% if fileUrl %}
        {% if scalePreviewThumbnail %}
            {% set fileUrl = fileUrl | imagine_filter('tuna_admin_thumb') %}
        {% endif %}
        <img src="{{ fileUrl }}"/>
        {% if deletable %}
            <span data-action="remove" class="remove">{% trans %}Remove{% endtrans %}</span>
        {% endif %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro tuna_file_preview(fileUrl) %}{% spaceless %}
    {% if fileUrl is not null %}
        <a href="{{ asset(fileUrl) }}" class="btn btn-secondary" target="_blank">
            <span class="fui-eye"></span>
        </a>
    {% endif %}
{% endspaceless %}{% endmacro %}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{% block form_row %}
    <div
        class="form-group form--{{ name }}{% if form.vars.errors | length > 0 %} has-errors{% endif %}"
        {% if form.parent.vars.allow_add | default(false) %} data-collection-item="{{ name }}"{% endif %}
    >
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{%- block form_widget_simple -%}
    {% set attr = attr | merge({class: (attr.class | default('') ~ " form-control input-lg input--#{name}") | trim}) %}
    {% if value is not empty %}
        {% set attr = attr | merge({value: value}) %}
    {% endif %}
    {%- set type = type|default('text') -%}
    <div class="form-{{ type == 'hidden' ? 'hidden' : 'group' }} form--{{ name }}">
        <input type="{{ type }}" {{ block('widget_attributes') }}{% if type != 'hidden' %} placeholder="{{ name | humanize | capitalize | trans }}"{% endif %}>
    </div>
{%- endblock form_widget_simple -%}
