{% use 'TheCodeineEditorBundle::_form_theme.html.twig' %}
{% use 'TheCodeineCategoryBundle::_form_theme.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="dialog dialog-danger">
                <strong class="text-danger">{% trans %}Woops!{% endtrans %} </strong>
                {% for error in errors %}
                    <span>{{ error.message|trans }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
    <div class="form-group {% if form.vars.errors | length > 0 %}has-errors{% endif %}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{% block text_widget %}
    {% set attr = attr | merge({class: (attr.class | default('') ~ ' form-control input-lg') | trim}) %}
    {% if value is not empty %}
        {% set attr = attr | merge({value: value}) %}
    {% endif %}
    <div class="form-group form--{{ name }}">
        <input type='{{ type|default('text') }}' {{ block('widget_attributes') }} placeholder="{{ name | capitalize | trans }}">
    </div>
{% endblock %}

{% block choice_widget %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}
            class="form-control select select-primary">
            {% if empty_value is not none %}
                <option
                    value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock %}

{% block checkbox_widget %}
    <label class="checkbox" for="{{ id }}">
        <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span
                class="second-icon fui-checkbox-checked"></span></span>
        <input
            type="checkbox" {{ block('widget_attributes') }}  {% if value is not empty %}value="{{ value }}" {% endif %} {% if checked %} checked="checked"{% endif %}
            data-toggle="checkbox">
        {{ label }}
    </label>
{% endblock %}

{% block checkbox_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block imagefile_widget %}
    {% spaceless %}
        {% set image =  form.parent.vars.value %}
        {% if image %}
            <p>
                <img src="{{ ('/uploads/' ~ image.path) | imagine_filter('tuna_admin_thumb') }}"/>
            </p>
        {% endif %}
        <input type="file" {{ block('widget_attributes') }} />
    {% endspaceless %}
{% endblock %}

{% block _thecodeine_pagebundle_page_image_widget %}
    {% set attr = attr | merge({class: (attr.class is defined ? attr.class ~ ' ') ~ 'thecodeine_admin_main_image'}) %}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{% endblock %}

{% block _thecodeine_pagebundle_page_image_file_widget %}
    {% spaceless %}
        {% set image =  form.parent.vars.value %}
        <div class="form-group main-image">
            <div class="image" data-action="remove">
                {% if image and image.path %}
                    <img src="{{ ('/uploads/' ~ image.path) | imagine_filter('tuna_admin_thumb') }}"/>
                    <span class="remove">{% trans %}Usuń{% endtrans %}</span>
                {% endif %}
            </div>
            <div class="btn btn-mini btn-primary btn-block input-wrapper">
                <input type="file" {{ block('widget_attributes') }} />
                {% trans %}Choose main picture{% endtrans %}
                <i class="fui-arrow-right pull-right"></i>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _thecodeine_newsbundle_news_image_widget %}
    {{ block('_thecodeine_pagebundle_page_image_widget') }}
{% endblock %}

{% block _thecodeine_newsbundle_news_image_file_widget %}
    {{ block('_thecodeine_pagebundle_page_image_file_widget') }}
{% endblock %}

{% block tag_collection_widget %}
    <div class="form-group">
        <input type="text" {% if value is not empty %}value="{{ value }}" {% endif %} {{ block('widget_attributes') }}
               placeholder="{{ label }}" class="form-control input-sm tagsinput tagsinput-primary">
    </div>
{% endblock %}

{% block datetime_widget %}
    <div class="form-group control-group datepicker-group">
        <div class="input-group">
            <button class="btn btn-default btn-sm">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </button>
            <input type="text" class="form-control datepicker input-sm" {{ block('widget_attributes') }}
                   value="{{ value }}">
        </div>
    </div>
{% endblock %}


{% block thecodeine_gallerybundle_gallery_widget %}
    <div class="form-group thecodeine_admin_gallery">
        <ul class="gallery-items">
            {% for item in form.items %}
                {{ form_widget(item) }}
            {% endfor %}
        </ul>
        <a href="javascript:void(0)" class="btn btn-border add_new_item"
           data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
{% endblock %}

{% block thecodeine_gallerybundle_item_widget %}
    {% spaceless %}
        <li class="item ui-state-default clearfix" id="{{ form.vars.id }}">
            {% if form.image is not defined and form.video is not defined %}
                {{ form_widget(form.type, {'empty_value':'Choose gallery item type'|trans}) }}
            {% else %}
                <div class="hide">{{ form_widget(form.type) }}</div>
            {% endif %}

            {% if form.position is defined %}
                {{ form_widget(form.position, {'attr': {'class': 'position'} }) }}
            {% endif %}

            {% if form.image is defined %}
                {% set image = form.vars.value.image %}
                <div class="image">
                    {% if(image is not null) %}
                        <div class="gallery-image" style="background-image: url({{ ('uploads/' ~ image.path) | imagine_filter('tuna_admin_thumb') }})"></div>
                    {% else %}
                        {{ form_widget(form.image) }}
                        <span class="fui-plus"></span>
                    {% endif %}
                </div>
            {% endif %}

            {% if form.video is defined %}
                <div class="video">
                    {{ form_widget(form.video, {'attr': {'class': 'form-control'}}) }}
                    {% set video = form.vars.value.video %}
                    {% if(video is not null) %}
                        <iframe width="200" height="100" src="{{ videoPlayer(video.type, video.videoId) }}"
                                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    {% endif %}
                </div>
            {% endif %}

            {% if form.video is defined or form.image is defined %}
                <div class="item-name">
                    {% if form.translations is defined %}
                        {{ form_widget(form.translations, {'label': false}) }}
                    {% endif %}
                </div>

                <div class="option handle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>

                <div class="option delete">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </div>
            {% endif %}
        </li>
    {% endspaceless %}
{% endblock %}

{% block attachments_widget %}
    <div class="form-group thecodeine_admin_attachments">
        <ul class="attachments clearfix">
            {% for attachment in form %}
                {{ form_widget(attachment, {'label': false}) }}
            {% endfor %}
        </ul>

        <a href="javascript:void(0)" class="btn btn-border add_new_attachment "
           data-prototype="{{ form_widget(form.vars.prototype)|e }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
{% endblock %}

{% block _thecodeine_pagebundle_page_attachments_widget %}
    {{ block('attachments_widget') }}
{% endblock %}

{% block _thecodeine_newsbundle_news_attachments_widget %}
    {{ block('attachments_widget') }}
{% endblock %}

{% block thecodeine_newsbundle_attachment_widget %}
    {% spaceless %}
        {% set attachment = form.vars.value %}
        <li class="item ui-state-default">

            {{ form_widget(form.position, {'attr': {'class': 'position'} }) }}

            <div class="item-name">
                {{ form_widget(form.translations, {'label': false}) }}
            </div>

            <div class="options-container">
                <div class="upload-container">
                    <a href="javascript:void(0)" class="btn btn-secondary">
                        <span class="fa fa-upload" aria-hidden="true"></span>
                        {{ form_widget(form.file) }}
                    </a>
                </div>

                {% if(attachment is not null) %}
                    <a href="{{ vich_uploader_asset(attachment,'file') }}" class="btn btn-secondary"
                       target="_blank"><span class="fui-eye"></span></a>
                {% endif %}
            </div>

            <div class="option handle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>

            <div class="option delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
        </li>
    {% endspaceless %}
{% endblock %}

{% block a2lix_translations_widget %}
    <div class="a2lix_translations tabbable">
        <div class="a2lix_translationsFields tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}
                <div
                    class="a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %}">
                    {{ form_widget(translationsFields, {'required': false}) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translations_gedmo_widget %}
    {% if form.vars.simple_way %}
        {{ block('a2lix_translations_widget') }}
    {% else %}
        <div class="a2lix_translations tabbable">
            <div class="a2lix_translationsFields tab-content">
                {% for translationsLocales in form %}
                    {% for translationsFields in translationsLocales %}
                        {% set locale = translationsFields.vars.name %}

                        <div
                            class="a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %}"
                            data-lang="{{ locale }}">
                            {{ form_widget(translationsFields) }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
