{% use "TheCodeineAdminBundle:_partials/_form/parts:attachments.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:checkbox.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:choice.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:date.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:editor.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:errors.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:gallery.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:image.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:tags.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:text.html.twig" %}
{% use "TheCodeineAdminBundle:_partials/_form/parts:translations.html.twig" %}

{% block form_row %}
    <div class="form-group form--{{ name }} {% if form.vars.errors | length > 0 %}has-errors{% endif %}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{%- block hidden_widget -%}
    {% set attr = attr | merge({
    class: (attr.class | default('') ~ ' form--' ~ name) | trim,
    value: value | default('')
    }) %}
    <input type="hidden" {{ block('widget_attributes') }}>
{%- endblock hidden_widget -%}