{% extends "TheCodeineAdminBundle::_layout.html.twig" %}
{% block main_class %}bg-lightgray{% endblock %}

{% block content %}
    {% if pagination|length == 0 %}
        <div class="admin-alert alert alert-success text-center">
            <h3>{% trans %}Oops there is nothing here!{% endtrans %}</h3>
            <a href="{{ path('thecodeine_news_create', {'cid': app.request.query.get('cid')}) }}" class="btn btn-primary btn-wide">
                <i class="fui-plus-inverted"></i> {% trans %}Add first news item{% endtrans %}
            </a>
        </div>
    {% else %}
        <div class="row admin-container">
            <div class="col-sm-12">
                <div class="admin-list">

                    {% include 'TheCodeineAdminBundle::_partials/_menu.sub.html.twig' %}

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Lp</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'p.title') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Create date'|trans, 'p.createdAt') }}</th>
                                <th class="center">{{ knp_pagination_sortable(pagination, 'Published'|trans, 'p.published') }}</th>
                                <th class="center">{{ knp_pagination_sortable(pagination, 'Featured'|trans, 'p.important') }}</th>
                                <th class="text-right">{% trans %}Options{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in pagination %}
                                <tr data-enabled="{{ item.published|round }}" class="{% if not item.published %}unpublished{% endif %}">
                                    <td>{{ loop.index + lp}}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.createdAt|date('d/m/Y H:m:s') }}</td>
                                    <td class="center">
                                        {% if item.published %}
                                            <span class="fui-check-inverted"></span>
                                        {% else %}
                                            <span class="fui-cross-inverted"></span>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        {% if item.important %}
                                            <span class="fui-check-inverted"></span>
                                        {% else %}
                                            <span class="fui-cross-inverted"></span>
                                        {% endif %}
                                    </td>
                                    <td class="options">
                                        <a href="{{path('thecodeine_news_edit',{'id' : item.id})}}" class="fa fa-pencil-square-o"></a>
                                        <a href="#" data-title="{{ item.title }}" data-url="{{ path('thecodeine_news_delete',{'id' : item.id})}}" data-target="#modal-confirm" data-action="delete" class="fa fa-trash"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(pagination, 'TheCodeineAdminBundle::_partials/_pagination.html.twig') }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="clear"></div>
{% endblock content %}
