{% extends "TheCodeineAdminBundle::_layout.html.twig" %}
{% block main_class %}bg-lightgray{% endblock %}

{% block content %}
    {% if pagination|length == 0 %}
        <div class="admin-alert alert text-center">
            <h3>{% trans %}Oops there is nothing here!{% endtrans %}</h3>
            <a href="{{ path('tuna_news_create', { 'newsType': newsType }) }}" class="btn btn-primary btn-wide">
                <i class="fui-plus-inverted"></i> {{ ('Add first ' ~ newsType|lower ~ ' item')|trans  }}
            </a>
        </div>
    {% else %}
        <div class="row admin-container">
            <div class="col-sm-12">
                <div class="admin-list">

                    {% include 'TheCodeineAdminBundle::_partials/_menu.sub.html.twig' %}

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Lp</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'n.title') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Create date'|trans, 'n.createdAt') }}</th>
                                <th class="center">{{ knp_pagination_sortable(pagination, 'Published'|trans, 'n.published') }}</th>
                                <th class="center">{{ knp_pagination_sortable(pagination, 'Featured'|trans, 'n.important') }}</th>
                                <th class="text-right">{% trans %}Options{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in pagination %}
                                <tr data-enabled="{{ item.published|round }}" class="{% if not item.published %}unpublished{% endif %}">
                                    <td>{{ loop.index + limit}}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.createdAt|date('d/m/Y H:m:s') }}</td>
                                    <td class="center">
                                        {% if item.published %}
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        {% if item.important %}
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                    <td class="options">
                                        <a href="{{path('tuna_news_edit',{ 'newsType': newsType, 'id' : item.id})}}" class="fa fa-pencil-square-o"></a>
                                        <a href="#" data-title="{{ item.title }}" data-url="{{ path('tuna_news_delete',{ 'newsType': newsType, 'id' : item.id})}}" data-target="#modal-confirm" data-action="delete" class="fa fa-trash"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(pagination, 'TheCodeineAdminBundle::_partials/_pagination.html.twig') }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="clear"></div>
{% endblock content %}
